.super {
  position: relative;
  padding-bottom: calc(50px + 100 * (100vw / 1920));
  .img-block-left1 {
    left: -60px;
  }
  .img-block-right1 {
    top: 20%;
  }
  .img-block-left2 {
    left: -60px;
    top: 50%;
  }
  .img-block-right2 {
    top: 75%;
  }
}
.main-wrapper {
  background: #F9F9F9;
  padding: calc(20px + 54 * (100vw / 1920)) calc(20px + 54 * (100vw / 1920)) calc(20px + 70 * (100vw / 1920)) calc(20px + 54 * (100vw / 1920));
  position: relative;
  z-index: 100;
}
.super-swipers-wrapper {
  padding-top: calc(50px + 78 * (100vw / 1920));
}
.super-swiper {
  overflow-x: clip;
  .pagination-top {
    top: 0;
    right: 0;
    left: inherit;
    font-size: 18px;
    background: rgba(0,0,0,.5);
    border-radius: 32px;
    display: block;
    color: #fff;
    position: absolute;
    z-index: 100;
    padding: 2px 14px;
  }
  .swiper-pagination {
    bottom: -30px;
  }
  .swiper-pagination-bullet-active {
    background: #D82B35;
  }
}
.super-swiper-block {
  margin-bottom: 70px;
}
