.coatings {
  position: relative;
  padding-bottom: calc(50px + 100 * (100vw / 1920));
  .menu-wrapper-link:hover {
    background: #049547;
    .menu-btn path {
      stroke: #049547;
    }
  }
  .img-block-left {
    left: -50px;
  }
}
.line-green {
  background: #049547;
}
.thin-line {
  display: block;
  width: 106px;
  height: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
}

