.header {
  .header-info {
    //max-height: 96px;
  }
  .header-logo {
    img {
      max-width: 55px;
    }
    div {
      font-size: 30px;
      letter-spacing: 3px;
      color: #000000;
    }
  }
  .header-img {
    position: relative;
    overflow: hidden;
    max-height: 96px;
    .header-img-position {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.23em;
      text-transform: uppercase;
      color: #15151B;
    }
  }
  .header-contacts {
    gap: 40px;
    .header-contacts-circle {
      width: 57px;
      height: 57px;
      border: 1px solid #D9D9D9;
      border-radius: 100%;
      display: flex;
      padding: 16px;
      justify-content: center;
    }
    .header-contacts-tel {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #15151B;
      gap: 17px;
    }
    .header-contacts-email {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #15151B;
      gap: 17px;
    }
    .header-contacts-social:hover {
      background: #D82B35;
      transition: 0.3s;
      svg {
        path {
          fill: white;
          transition: 0.3s;
        }
      }
    }
  }

  .header-nav {
    background: #F9F9F9;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.17);
    transition: 0.3s;
    .nav-link {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: #000000;
      transition: 0.3s;
    }
    .navbar-nav {
      background-color: inherit;
    }
    .nav-link.active {
      color: #6B6B6B;
    }
    .nav-link:hover {
      color: #049547;
      transition: 0.3s;
    }
    .link-red {
      color: #C6181B;
    }
    .btn-item-p {
      padding-left: 15px;
      padding-right: 15px;
      background: #D82B35;
      transition: 0.3s;
    }
    .btn-item-p:hover {
      background: #047237;
      transition: 0.3s;
    }
    .dropdown-menu {
      background: #047237;
      .dropdown-item {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 195.4%;
        transition: 0.3s;
      }
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: inherit;
      color: #C6181B;
      transition: 0.3s;
    }
  }
}
.header-contacts-social {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #F0F0F0;
  padding: 5px;
  transition: 0.3s;
}
.navbar-scroll {
  display: none;
}

.header-nav.block {
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
  transition: 0.3s;
  .navbar-no-scroll {
    display: none;
  }
  .navbar-scroll {
    display: block;
    .dropdown {
      span {
        display: block;
        width: 25px;
        height: 2px;
        background: #FFFFFF;
        margin-bottom: 4px;
      }
      .btn.btn-secondary.dropdown-toggle {
        padding: 16px 12px;
        border-radius: 1px;
        background: #ED3131;
        border: 0;
        transition: 0.3s;
      }
      .btn.btn-secondary.dropdown-toggle.show {
        padding: 20px 12px;
         span:first-child {
           transform: rotate(45deg);
           position: relative;
           top: 3px;
           transition: 0.3s;
         }
        span:nth-child(2) {
          display: none;
          transition: 0.3s;
        }
        span:last-child {
          transform: rotate(-45deg);
          position: relative;
          bottom: 3px;
          transition: 0.3s;
        }
      }
      span:last-child {
        margin-bottom: 0;
      }
      .dropdown-menu.show {
        display: flex;
        flex-wrap: wrap;
      }
      .dropdown-item {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000000;
      }
      .dropdown-item.active {
        background-color: inherit;
      }
      .dropdown-menu {
        width: 100%;
        position: fixed;
        top: 48px;
        background: #f9f9f9;
        border: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        .dropdown-menu {
          width: inherit;
          position: absolute;
          top: inherit;
          background: #047237;
          border: 0;
        }
        .dropdown-toggle {
          color: #049547;
          margin-top: 4px;
          padding-right: 15px;
          padding-left: 15px;
        }
        .dropdown-menu.show {
          display: inherit;
          flex-wrap: inherit;
        }
        .dropdown-item:hover {
          color: #2B2F86 !important;
        }
      }
      .link-red {
        color: #c6181b;
      }
    }
    .navbar {
      padding: 1px;
    }
    //.navbar-toggler {
    //  padding: 19px 12px;
    //  background: #ED3131;
    //  border-radius: 1px;
    //}
    .header-img-position {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.23em;
      text-transform: uppercase;
      color: #15151B;
    }
    .header-logo {
      margin-left: 16px;
      img {
        max-width: 44px;
      }
      div {
        font-size: calc(11px + 7 * (100vw / 1920));
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
    .header-img-position {
      font-size: 11px;
      font-weight: 500;
      margin-left: 40px;
    }
    .header-contacts-tel {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #15151B;
    }
    .header-contacts-email {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #15151B;
      margin-left: 23px;
    }
    .header-social {
      margin-left: 23px;
    }
    .btn-item-p {
      margin-left: 23px;
      border-radius: 44px;
      padding: 12px 16px;
      background: #D82B35;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  @media (max-width: 768px) {
    .header-img-position {
      display: none !important;
    }
    .header-contacts-tel {
      display: none !important;
    }
    .header-contacts-email {
      display: none !important;
    }
  }
}