.main-content {
  position: relative;
  padding-top: calc(30px + 35 * (100vw / 1920));
  padding-bottom: calc(30px + 30 * (100vw / 1920));
  .img-bg-position {
    position: absolute;
  }
  .img-bg-right {
    right: calc(-400px + 240 * (100vw / 1920));
    bottom: 50%;
    transform: translateY(50%);
    overflow: hidden;
    z-index: 0;
  }
  .img-bg-left {
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    overflow: hidden;
    z-index: 0;
  }
}
.content-wrapper {
  padding: calc(30px + 35 * (100vw / 1920));
  background-color: #F9F9F9;
  position: relative;
  z-index: 10;
}

.title {
  font-weight: 500;
  font-size: calc(26px + 12 * (100vw / 1920));
  line-height: 119.2%;
  color: #15151B;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: calc(26px + 6 * (100vw / 1920));
  line-height: 38px;
  text-transform: uppercase;
  color: #15151B;
  padding-top: calc(20px + 20 * (100vw / 1920));
  padding-bottom: calc(20px + 20 * (100vw / 1920));
  margin: 0;
}

.red-line {
  width: 69px;
  height: 4px;
  left: 307px;
  top: 451px;
  background: #ED3131;
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
}

.fz-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #15151B;
}

.fz-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160.5%;
  color: #424242;
}

.main-content-wrapper {
  .subtitle {
    padding-bottom: calc(10px + 10 * (100vw / 1920));
  }
}

.btn-arrow {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.185em;
  text-transform: uppercase;
  color: #15151B;
  margin-top: auto;
}

.img-message {
  position: absolute;
  bottom: 0;
  left: -150px;
}

.content-message {
  position: absolute;
  left: -40%;
  bottom: 46%;
  //background: #FFFFFF;
  border-radius: 9px;
  background: url("/image/mes.svg") no-repeat;
  max-width: 170px;
  height: 92px;
  padding: 5px;
  font-size: 16px;
  line-height: 119%;
  color: #15151B;
  display: flex;
  width: 100%;
  a {
    margin-top: 33px;
  }
}

.message-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #15151B;
  max-width: 139px;
  padding: 9px 10px 9px 24px;
}

.img-message-tr {
  position: absolute;
}

.main-content-wrapper {
  gap: calc(20px + 30 * (100vw / 1920));
  z-index: 1000;
  position: relative;
}

.main-content-block {
  ppadding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.main-content-arrow {
  width: 28px;
  margin-right: 12px;
}

.technologies-swiper {
  .swiper-button-next, .swiper-button-prev {
    position: relative;
    padding: 25px;
    right: auto;
    left: auto;
    top: 15%;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.51);
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-prev {
    border-right: 1px solid rgba(255, 255, 255, 0.41);
    svg {
      transform: rotate(180deg);
    }
  }
  .swiper-block-wrapper {
    height: 70px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  .swiper-pagination {
    position: relative;
    bottom: auto !important;
    text-align: left;
    padding: calc(10px + 10 * (100vw / 1920)) calc(10px + 30 * (100vw / 1920));
  }
  .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    content: url("../image/circle.svg");
    width: 18px;
    height: 18px;
    border: 3px solid #ed3131;
    border-radius: 100%;
    padding: 1px;
    position: relative;
    top: 5px;
    background: inherit;
  }
}