// MAIN
$body-txt: #525252;
$body-bg: #fff;

$text-dark: #141112;
$text-dark-1: #1B1B1B;
$text-dark-2: #353535;
$text-dark-3: #222;
$text-dark-4: #292929;
$text-grey: #565656;
$text-grey-1: #474747;


// ACCENTS
$accent: #AB152F;
$accent-darker: #A42C41;

$accent-link: #AB152F;
$accent-link-hover: #A42C41;


// BACKGROUNDS
$accent-bg: #AB152F;
$accent-bg-hover: #A42C41;

$accent-secondary: #FDF8F2;
$accent-secondary-stroke: #E1C1C1;
$accent-stroke-dropdown: #EFDCD9;

$icon-item-bg: #FEF5E9;
$icon-item-bg-1: #F3B352;
$icon-item-bg-2: #FFCC80;


$gray-1: #F4F4F4;
$gray-2: #F3F3F4;
$gray-3: #F2F2F2;
$gray-4: #F7F7F7;

$bg-light: #F5F5F5;


// MAIN BUTTONS
$btn-gradient-1: rgba(171,21,47,1);
$btn-gradient-2: rgba(218,54,83,1);
$btn-gradient-3: #960720;
$btn-gradient-4: #BA213C;



$btn-bg-hover: #FEF5E9;

$btn-txt: #fff;
$btn-txt-hover: #fff;


// INPUTS
$input-bg: #ffffff;
$input-border: #e5e5e5;
$input-text: #555;
$placeholder-text: #555;


// CHECKBOX
$checkbox-bg: #eee;
$checkbox-border: rgba(#bbb, 0.65);

$checkbox-bg-hover: #ccc;
$checkbox-border-hover: rgba(#ccc, 1);

$checkbox-bg-checked: #000;
$checkbox-border-checked: rgba(#000, 1);

$checkbox-icon-color: #fff;


//  RADIO
$radio-bg: #eee;
$radio-border: #bbb;

$radio-bg-hover: #ccc;
$radio-border-hover: #ccc;

$radio-bg-checked: #000;
$radio-border-checked: #000;

$radio-icon-color: #fff;


// FOOTER
$footer-bg: #212121;
$footer-text: #B0B0B0;


// MISC
$stroke: #DCDCDC;
$stroke-2: #D6D6D6;
$stroke-3: #C6C6C6;
$stroke-4: #a5a5a5;
$stroke-5: #D8D8D8;
$stroke-6: #E8D7D7;
$stroke-7: #A0A0A0;
$stroke-8: #646464;
$stroke-9: #B29E68;
$stroke-10: #8D8D8D;
$stroke-11: #D9D9D9;
$stroke-12: #C8C8C8;
$stroke-13: #BFA7A7;
$stroke-14: #DEDEDE;
$stroke-14: #D7D7D7;


$stroke-light: #f1f1f1;
$stroke-icon-item: #DDC380;
$stroke-avatar-item: #D6C291;

$slider-bullet: #D3B158;
$slider-bullet-active: #fff;

$slider-button-gradient-1: rgba(243,223,117,1);
$slider-button-gradient-2: rgba(218,195,77,1);

$stroke-product-card-hover: rgba(206, 169, 113, 0.42);
$stroke-icon-item-hover: rgba(255, 255, 255, 0.48);

$float-icon-color: #D7B860;
$float-icon-color-2: #E2C572;
$float-icon-button: #CA2B46;



$breadcrumb-divider: #F1BA4E;

$table-stripe: #F6F6F6;
$table-stripe-hover: #f3f3f3;

// OTHER VARIABLES
$transition: all .2s ease;
$border-radius: 100px;
$border-radius-medium: 22px;
$border-radius-small: 10px;

